@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@font-face {
  font-family: Newborough;
  src: url(/fonts/NEWBOROU.TTF);
}

@import "tailwindcss";

@theme {
  --color-bkg: #FFF8EF;
  --color-bkg-tp: #e5dfd7;
  --color-red: #AD2C3F;
  --color-darkred: #47121A;
  --color-accent: #FFCC00;
  --color-tp: rgba(0, 0, 0, .1);
  --font-dm: DM Serif Text, "serif";
  --font-newb: Newborough, "sans-serif";
  --breakpoint-xs: 360px;
  --breakpoint-sm: 800px;
  --breakpoint-md: 1080px;
  --breakpoint-lg: 1440px;
  --breakpoint-xl: 1600px;
}

:root {
  background-color: #FFF8EF;
}

.skew-r {
  transform: skewX(30deg);
}

.skew-l {
  transform: skewX(-30deg);
}

.clickable {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.clickable:hover {
  transform: scale(1.02);
  opacity: 0.5;
}

.clickable:active {
  transform: scale(1);
}

.clickable-l-skew {
  cursor: pointer;
  transition: all 0.2s ease;
  transform: skewX(-30deg);
}

.clickable-l-skew:hover {
  transform: skewX(-30deg);
  opacity: 0.5;
}

/* Right skew */
.clickable-r-skew {
  cursor: pointer;
  transition: all 0.2s ease;
  transform: skewX(30deg);
}

.clickable-r-skew:hover {
  transform: skewX(30deg);
  opacity: 0.5;
}



.page-wrapper {
  width: 100%;
  margin: auto;
  max-width: 1400px;
  padding-right: 8px;
  padding-left: 8px;
}

.page-l-wrapper {
  width: 100%;
  margin-left: auto;
  max-width: 1400px;
  padding-right: 8px;
}