@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@font-face {
  font-family: Newborough;
  src: url(./assets/fonts/NEWBOROU.TTF);
}

@import "tailwindcss";

@theme {
  --color-bkg: #FFF8EF;
  --color-bkg-tp: #e5dfd7;
  --color-dark: #010100;
  --color-red: #AD2C3F;
  --color-darkred: #47121A;
  --color-accent: #FFCC00;
  --color-tp: rgba(0, 0, 0, .1);
  --font-dm: DM Serif Text, "serif";
  --font-newb: Newborough, "sans-serif";
  --breakpoint-xs: 480px;
  /* Small phones and old iPhones */
  --breakpoint-sm: 640px;
  /* Modern phones (iPhone 12 Mini, SE) */
  --breakpoint-md: 768px;
  /* Tablets (iPads in portrait) */
  --breakpoint-lg: 1024px;
  /* Tablets in landscape / small laptops */
  --breakpoint-xl: 1280px;
  /* Standard desktops */
  --breakpoint-2xl: 1536px;
  /* Large desktops / MacBook Pro 16” / Ultrawide */
  --breakpoint-3xl: 1920px;
  /* 1080p displays and up (optional) */
}


:root {
  background-color: #FFF8EF;
}

.skew-r {
  transform: skewX(30deg);
}

.skew-l {
  transform: skewX(-30deg);
}

.clickable {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.clickable:hover {
  transform: scale(1.02);
  opacity: 0.5;
}

.clickable:active {
  transform: scale(1);
}

.clickable-l-skew {
  cursor: pointer;
  transition: all 0.2s ease;
  transform: skewX(-30deg);
}

.clickable-l-skew:hover {
  transform: skewX(-30deg);
  opacity: 0.5;
}

/* Right skew */
.clickable-r-skew {
  cursor: pointer;
  transition: all 0.2s ease;
  transform: skewX(30deg);
}

.clickable-r-skew:hover {
  transform: skewX(30deg);
  opacity: 0.5;
}



.page-wrapper {
  width: 100%;
  margin: auto;
  max-width: 1400px;
  padding-right: 8px;
  padding-left: 8px;
}

.page-l-wrapper {
  width: 100%;
  margin-left: auto;
  max-width: 1400px;
  padding-right: 8px;
}

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */